<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form">
    <table id="express-list">
        <tr>
            <th>发布人</th>
            <th>价格</th>
            <th>快递类型</th>
            <th>发布时间</th>
        </tr>
    </table>
</form>
</body>
<script src="../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
<script src="../static/js/needer/publish.js" th:src="@{/js/provider/list.js}"></script>
</html>