<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单广场</title>
</head>
<body>
    <table id="express-list" border="1" >
        <tr>
            <th>发布人</th>
            <th>价格</th>
            <th>快递类型</th>
            <th>发布时间</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
        </tr>
    </table>
</body>
<script src="../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
<script src="../static/js/needer/publish.js" th:src="@{/js/provider/list.js}"></script>
</html>