<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>注册邮件模板</title>
</head>
<body>
<p>订单状态更细</p>
<p>亲爱的用户<span th:text="${providerName}"></span></p>
<p>您的订单<span th:text="${expressOrderId}"></span></p>
<p>已完成,收入为<span th:text="${price}"></span> </p>
<p>完成时间<span th:text="${finishTime}"></span> </p>
<!--<a th:href="@{http://www.ityouknow.com/register/{id}(id=${id})}">激活账户</a>-->
<a th:href="@{http://www.baidu.com}">激活账户</a>
</body>
</html>