<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>登录界面</title>
    <!--<link href="/static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<br>
<br>
<br>


    <form role="form" id="loginForm" class="form-horizontal">
        <fieldset>
            <legend>用户登录</legend>
        <div class="form-group">
            <label for="userName" class="col-sm-1 control-label">用户名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="用户名">
            </div>
            <!--<p class="help-block">这里是块级帮助文本的实例。</p>-->
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-sm-1">密码</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="passWord" name="passWord" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 checkbox">
                <label>
                    <input type="checkbox" id="rememberMe" name="rememberMe">记住我
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="button" class="btn btn-default" id="login_btn">登录</button>
            </div>
        </div>
</fieldset>
    </form>





<!--<script src="../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>-->
<script src="../static/js/login.js" th:src="@{/js/login.js}"></script>

</body>
</html>